
<!--

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Flask file uploads tutorial for SOA Convertion to word paragraphs</h1>

    <form method='POST' enctype="multipart/form-data">
        {{form.hidden_tag()}}
        {{form.file()}}
        {{form.submit()}}

    </form>
</body>
</html>

-->



<form class="" action="/data" method="post">
    <input type="file" name="Upload-file" value="">
    <input type="submit" name="" value="Submit">
</form>